*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    
    width: 100%;
    min-height: 3em;

    font-size: 0.813rem;
    background-color: var(--beage);
}